reproduce/ID3PM/images1024x1024.zip
reproduce/ID3PM/images1024x1024
reproduce/ID3PM/logs
reproduce/ID3PM/**logs**
reproduce/IdDecoder/**results**
reproduce/IdDecoder/embeds_clip/
reproduce/IdDecoder/out_emb/
reproduce/IdDecoder/runs/
reproduce/IdDecoder/pretrained_models/
reproduce/IdDecoder/celeba_hq/
doc/
__pycache__/
*.py[cod]
.venv/
venv/
.env
.idea/
.vscode/
checkpoints/
new.markdown
results/